---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/natural-language-understanding/api/v1/analyze?version=2017-02-27
    body:
      encoding: UTF-8
      string: '{"text":"sure, I''ll bite. My name is Kieran","language":"en","features":{"keywords":{}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 50.67.27.28
      X-Global-Transaction-Id:
      - '725228624'
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-725228624
    body:
      encoding: UTF-8
      string: |-
        {
          "language": "en",
          "keywords": [
            {
              "text": "Kieran",
              "relevance": 0.970239
            }
          ]
        }
  recorded_at: Thu, 13 Apr 2017 19:45:29 GMT
recorded_with: VCR 3.0.3
