---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/9c9b5bb9-9841-4c08-a69b-1af8797c74c8/message?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"input":{"text":"Awesome!"},"context":{"conversation_id":"b90a141a-14b0-48b5-aad3-f53454e93444"},"alternate_intents":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Etag:
      - W/"270-aEUO8JbfijdCNGILIcf66g"
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 172.218.196.173
      X-Global-Transaction-Id:
      - '2716371020'
      X-Dp-Watson-Tran-Id:
      - gateway-dp02-2716371020
    body:
      encoding: UTF-8
      string: '{"intents":[{"intent":"express_delight","confidence":0.99}],"entities":[],"input":{"text":"Awesome!"},"output":{"log_messages":[],"text":[],"nodes_visited":["Conversation
        Starts","Introduce the Bot"],"message_template":"realtor/intro","choices":{"choices":[{"body":"Like
        this?"}],"template":"realtor/intro_question_one"},"template":"realtor/intro"},"context":{"conversation_id":"b90a141a-14b0-48b5-aad3-f53454e93444","system":{"dialog_stack":[{"dialog_node":"Introduce
        the Bot"}],"dialog_turn_counter":1,"dialog_request_counter":1},"listing":"none","introduced":true,"initial_question":"Awesome!"},"alternate_intents":false}'
  recorded_at: Fri, 24 Mar 2017 21:27:30 GMT
recorded_with: VCR 3.0.3
