---
http_interactions:
- request:
    method: get
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/9c9b5bb9-9841-4c08-a69b-1af8797c74c8?export=true&version=2017-02-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Ratelimit-Reset:
      - '1490406670'
      X-Ratelimit-Remaining:
      - '19'
      Etag:
      - '1490143389589'
      X-Ratelimit-Limit:
      - '20'
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 172.218.196.173
      X-Global-Transaction-Id:
      - '2728709148'
      X-Dp-Watson-Tran-Id:
      - gateway-dp02-2728709148
    body:
      encoding: UTF-8
      string: '{"name":"JennyBot - POC","created":"2017-02-21T20:46:17.891Z","intents":[{"intent":"ask_about_property","created":"2017-03-13T16:53:59.199Z","updated":"2017-03-13T16:55:13.409Z","examples":[{"text":"Can
        I enquire about the home on willows road?","created":"2017-03-13T16:55:13.409Z","updated":"2017-03-13T16:55:13.409Z"},{"text":"Can
        you tell me about the house on willows?","created":"2017-03-13T16:54:15.818Z","updated":"2017-03-13T16:54:15.818Z"},{"text":"What
        do you know about 1003 brothers place?","created":"2017-03-13T16:54:34.241Z","updated":"2017-03-13T16:54:34.241Z"},{"text":"What
        do you know about 3520 Willows Road?","created":"2017-03-13T16:54:54.605Z","updated":"2017-03-13T16:54:54.605Z"},{"text":"What
        do you know about the place on drake street?","created":"2017-03-13T16:54:25.959Z","updated":"2017-03-13T16:54:25.959Z"}],"description":null},{"intent":"ask_mls_number","created":"2017-03-13T23:34:18.070Z","updated":"2017-03-13T23:34:18.070Z","examples":[{"text":"Does
        it have an MLS number?","created":"2017-03-13T23:34:18.070Z","updated":"2017-03-13T23:34:18.070Z"},{"text":"I
        am interested in the MLS number.","created":"2017-03-13T23:34:18.070Z","updated":"2017-03-13T23:34:18.070Z"},{"text":"mls?","created":"2017-03-13T23:34:18.070Z","updated":"2017-03-13T23:34:18.070Z"},{"text":"mls
        number?","created":"2[...]
