---
http_interactions:
- request:
    method: get
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces?version=2017-02-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Ratelimit-Reset:
      - '1495499314'
      X-Ratelimit-Remaining:
      - '499'
      Etag:
      - W/"b4e-p3/Ky2QoTJlk/Uq2qoR0fA"
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 24.80.113.68
      X-Global-Transaction-Id:
      - '1339869696'
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-1339869696
    body:
      encoding: ASCII-8BIT
      string: '{"workspaces":[{"name":"","created":"2017-05-11T06:00:23.487Z","updated":"2017-05-11T08:46:02.925Z","language":"en","metadata":{"hash":"5098883f7b9d0e2b78bc029058b6ce0d"},"description":"Piotr
        WatsonTest Workspace","workspace_id":"5a7b3b87-0c7c-4d6f-a9a5-53bf66f7c90e"},{"name":"","created":"2017-05-12T02:16:47.460Z","updated":"2017-05-12T02:18:28.577Z","language":"en","metadata":{"hash":"5098883f7b9d0e2b78bc029058b6ce0d"},"description":"Test
        workspace","workspace_id":"014b11f7-8889-4096-bb1e-8e94d1406f38"},{"name":"","created":"2017-04-06T02:23:25.665Z","updated":"2017-05-17T16:13:45.670Z","language":"en","metadata":{"hash":"bb1bdb51c84fc2af9cd45054b4cb4e6f"},"description":"","workspace_id":"721d2da6-0104-4e06-b0[...]
