---
http_interactions:
- request:
    method: get
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces?version=2017-02-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Ratelimit-Reset:
      - '1491520126'
      X-Ratelimit-Remaining:
      - '496'
      Etag:
      - W/"7eb-aGHeeaxxExwPhoCErOZJsA"
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 172.218.196.173
      X-Global-Transaction-Id:
      - '97963590'
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-97963590
    body:
      encoding: UTF-8
      string: '{"workspaces":[{"name":"Piotr-Dev","created":"2017-03-24T22:27:44.068Z","updated":"2017-04-06T22:35:13.662Z","language":"en","metadata":{"hash":"f7519d9d0bcf3595e06f929231d39790"},"description":"Piotr''s
        Watson Realtor","workspace_id":"14e5622a-ec23-4ae3-8c0c-1756aefdd614"},{"name":"Piotr-Test","created":"2017-04-05T16:31:12.401Z","updated":"2017-04-05T20:52:54.278Z","language":"en","metadata":{"hash":"219f1ce56992d02e4c1b73f3bb5185e4"},"description":"","workspace_id":"b35a7b07-f341-405f-b6ba-145fffbcd8c8"},{"name":"POC","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:54.442Z","language":"en","metadata":null,"description":"Realtor
        bot that uses the Watson Conversation Service","workspace_id":"80738bb6[...]
