---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/41804601-d5b6-4695-b740-5c9306777bc9/intents/anything_else/examples
    body:
      encoding: UTF-8
      string: '{"text":"What else?"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Backside-Transport:
      - FAIL FAIL
      X-Ratelimit-Reset:
      - '1511813278'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      Content-Type:
      - application/json;charset=utf-8
      X-Global-Transaction-Id:
      - b1d426355a1c699506857378
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-109409144
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error":"Missing ''version'' query parameter"},"code":400}'
  recorded_at: Mon, 27 Nov 2017 19:37:57 GMT
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/41804601-d5b6-4695-b740-5c9306777bc9/intents/anything_else/examples?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"text":"What else?"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Backside-Transport:
      - OK OK
      X-Ratelimit-Reset:
      - '1511813278'
      X-Ratelimit-Remaining:
      - '998'
      Etag:
      - '1511811527027'
      X-Ratelimit-Limit:
      - '1000'
      Location:
      - "/v1/workspaces/41804601-d5b6-4695-b740-5c9306777bc9/intents/anything_else/examples/What%20else%3F"
      Content-Type:
      - application/json;charset=utf-8
      X-Global-Transaction-Id:
      - b1d426355a1c69c60689bedc
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-109690588
    body:
      encoding: ASCII-8BIT
      string: '{"text":"What else?","created":"2017-11-27T19:38:47.027Z","updated":"2017-11-27T19:38:47.027Z"}'
  recorded_at: Mon, 27 Nov 2017 19:38:47 GMT
[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/41804601-d5b6-4695-b740-5c9306777bc9/intents/anything_else/examples?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"text":"You want Something else?"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Backside-Transport:
      - OK OK
      X-Ratelimit-Reset:
      - '1511813278'
      X-Ratelimit-Remaining:
      - '995'
      Etag:
      - '1511811670927'
      X-Ratelimit-Limit:
      - '1000'
      Location:
      - "/v1/workspaces/41804601-d5b6-4695-b740-5c9306777bc9/intents/anything_else/examples/You%20want%20Something%20else%3F"
      Content-Type:
      - application/json;charset=utf-8
      X-Global-Transaction-Id:
      - b1d426355a1c6a56068b9bac
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-109812652
    body:
      encoding: ASCII-8BIT
      string: '{"text":"You want Something else?","created":"2017-11-27T19:41:10.927Z","updated":"2017-11-27T19:41:10.927Z"}'
  recorded_at: Mon, 27 Nov 2017 19:41:10 GMT
recorded_with: VCR 3.0.3
