---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/c6f27505-bc6c-4914-bd8d-b570d8ff2720?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"name":"POC","created":"2017-03-25T00:48:38.808Z","intents":[{"intent":"ask_about_property","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z","examples":[{"text":"Can
        I enquire about the home on willows road?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"Can
        you tell me about the house on willows?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"What
        do you know about 1003 brothers place?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"What
        do you know about 3520 Willows Road?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"What
        do you know about the place on drake street?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"}],"description":null},{"intent":"ask_mls_number","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z","examples":[{"text":"Does
        it have an MLS number?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"I
        am interested in the MLS number.","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"mls?","created":"2017-03-25T00:48:38.808Z","updated":"2017-03-25T00:48:38.808Z"},{"text":"mls
        number?","created":"2[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/c6f27505-bc6c-4914-bd8d-b570d8ff2720/message?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"input":{"text":"Awesome!"},"context":{"conversation_id":"b90a141a-14b0-48b5-aad3-f53454e93444"},"alternate_intents":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Etag:
      - W/"270-aEUO8JbfijdCNGILIcf66g"
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 50.67.27.28
      X-Global-Transaction-Id:
      - '2538010776'
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-2538010776
    body:
      encoding: UTF-8
      string: '{"intents":[{"intent":"express_delight","confidence":0.99}],"entities":[],"input":{"text":"Awesome!"},"output":{"log_messages":[],"text":[],"nodes_visited":["Conversation
        Starts","Introduce the Bot"],"message_template":"realtor/intro","choices":{"choices":[{"body":"Like
        this?"}],"template":"realtor/intro_question_one"},"template":"realtor/intro"},"context":{"conversation_id":"b90a141a-14b0-48b5-aad3-f53454e93444","system":{"dialog_stack":[{"dialog_node":"Introduce
        the Bot"}],"dialog_turn_counter":1,"dialog_request_counter":1},"listing":"none","introduced":true,"initial_question":"Awesome!"},"alternate_intents":false}'
  recorded_at: Tue, 28 Mar 2017 02:14:55 GMT
recorded_with: VCR 3.0.3
